/*---------FUENTES--------*/ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*---------PALETA DE COLOR--------*/ 
:root{
    --color_uno: #10B7A8;
    --color_dos:#69CBF0;
    --color_tres:#ADD653;
    --color_cuatro:#E26289;
    --color_cinco:#F2964D;
    --color_seis:#ffffff;
    --color_siete:#474747;
    
}

html{
    scroll-behavior: smooth;
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

/*---------INICIO BARRA DE NVG--------*/ 
nav{
    /*outline: 2px rgb(255, 231, 14) solid;*/
    background:rgb(255, 255, 255);
    border-bottom: rgba(204, 204, 204, 0.849) solid 1px;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index:100;
    box-shadow: 0px 5px 10px rgba(27, 27, 27, 0.192);


}

.nav-menu{
    /*outline: chartreuse 2px solid;*/
    width: 100%;
    height: 100%;
    max-width: 1200px;
    


    display: flex;
    justify-content: space-around;
    margin: auto;
    list-style: none;
    color: var(--color_siete);

}

nav ul li.btn a{
    display: inline-block;
    /*outline:rgb(247, 182, 4) 1px solid;*/
    /*background-color: gainsboro;*/
    text-align: center;
    font-size: 0.8em;
    font-weight:600;
    color: var(--color_siete);
    text-align: center;
    margin-top: 30px;
    padding: 0px 20px 33px 10px;

}

.logo_nav img{
    width: 70%;
    padding: 0;
    margin: 15px 0px 0px 50px;
}

nav ul li.redes a i{
    font-size: 1.5em;
    color:var(--color_uno);
    transition: 0.4s;
    margin: 25px 20px 25px 10px;

}

nav ul li.redes a i:hover{
    color: var(--color_cuatro);
}

nav ul li.btn a:hover , nav ul li.btn a.seleccionado{
    border-bottom: var(--color_uno) solid 2px;
    
}

.nav-toggle{
    color: var(--color_uno);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 80px;
    position: fixed;
    left: 85%;
    display: none;
    cursor: pointer;
}

/*---------FIN BARRA DE NVG--------*/ 





/*---------INICIO SOBRE NOSOTROS--------*/ 

#sobre{
    /*outline: sienna solid 1px;*/
    width: 100%;
    background: white;
}

.todo{
    /*outline: rgb(9, 233, 139) solid 1px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0px 0px 0px;
}


#sobre figure img{
    /*outline: solid red 2px;*/
    width: 80%;
    object-fit: cover;
    margin-top: 60px;
}

#sobre .copy{
    width: 50%;
    /*outline: solid blue 2px;*/

}

.copy h1{
    color: var(--color_uno);
    font-weight: 700;
    font-size: 2.5em;

    padding: 150px 0px 20px 0px;
}

.parrafo1_sobre{
    padding: 10px 0px;
    font-size: 1.2em;
    font-weight: 500;

    text-align: justify
}

.parrafo2_sobre{
    color: var(--color_siete);

    padding: 10px 0px;
    font-size: 1.2em;
    font-weight: 400;

    text-align: justify

}

/*---------FIN SOBRE NOSOTROS--------*/ 



/*---------INICIO PRODUCTOS--------*/ 

#productos{
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#productos ul li{
    font-size: 0;
    /*outline: green 3px solid;*/
    list-style: none;
}

#productos h1{
    color:var(--color_uno);
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    padding: 50px 0px 0px 0px;
    margin-top: -10px;
    margin-bottom: 50px;
}

#productos figure{
    /*outline: black 2px solid;*/
    width: 20%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.192);

}


#productos figure img{
    /*outline: 2px solid red;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#productos figure p{
    position: absolute;
    z-index: 2;
    padding: 30px 30px;
    font-weight: 700;
    color: #474747;
    font-size: 1.2em;
    cursor: pointer;
}



/*---------FIN MARCAS--------*/ 


/*---------INICIO DESTACADOS--------*/



#ropa{
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#ropa h1{
    color:var(--color_uno);
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    padding-top: 30px;
    margin-top: 30px;
}

#ropa p{
    color:#474747;
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 20px 0px;
    font-weight: 700;
}

.caja_ropa1{
    /*outline: indigo solid 2px;*/
    width: 20%;
    padding: 0;
    margin: 0 auto;
}

#ropa figure{
    /*outline: solid green 2px;*/
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.192);
    font-size: 0;
}

#ropa figure img{
    /*outline: solid red 2px;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nombre_1{
    /*outline: solid red 2px;*/
    margin-top: 40px;
}

.ropa1{
    /*outline: cadetblue solid 1px;*/
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
}

#ropa div h3{
    font-size: 1.5em;
    color: var(--color_uno);
    padding: 0;
    margin: 0;
    
}

#ropa div p{
    text-align: left;
    font-size: 1.3em;
    color: var(--color_siete);
    padding: 10px 0px;
    font-weight: 700;
}

#ropa div img{
    margin: 0;
    padding: 0;
    /*outline: royalblue solid 1px;*/
    object-fit: cover;
}

.caja_ropa2{
    /*outline: indigo solid 2px;*/
    width: 20%;
    padding: 0;
    margin: 0 auto;
}

.ropa2{
    /*outline: cadetblue solid 1px;*/
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
}

#ropa div button{
    /*outline: royalblue solid 1px;*/
    margin: 20px 10px 0px 1.5px;
    padding: 15px 25px;
    background: var(--color_uno);
    border: none;
    color:white;
    font-weight:600;
    cursor: pointer;

}

#ropa div button:hover{
    background: var(--color_tres);
    color: white;
    transition: 0.5s;
    border-radius: 2px;
}


/*---------INICIO ACCESORIOS--------*/ 

#accesorios{
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#accesorios h1{
    color:var(--color_uno);
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    padding-top: 30px;
    margin-top: 30px;
}

#accesorios p{
    color:#474747;
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 20px 0px;
    font-weight: 700;
}

.caja_acc1{
    /*outline: indigo solid 2px;*/
    width: 20%;
    padding: 0;
    margin: 0px -5px 0px 60px;
}

#accesorios figure{
    /*outline: solid green 2px;*/
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.192);
    font-size: 0;
}

#accesorios figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nombre_1{
    /*outline: solid red 2px;*/
    margin-top: 40px;
}

.acc1{
    /*outline: cadetblue solid 1px;*/
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
}

#accesorios div h3{
    font-size: 1.5em;
    color: var(--color_uno);
    padding: 0;
    margin: 0;
    
}

#accesorios div p{
    text-align: left;
    font-size: 1.3em;
    color: var(--color_siete);
    padding: 10px 0px;
    font-weight: 700;
}

#accesorios div img{
    margin: 0;
    padding: 0;
    /*outline: royalblue solid 1px;*/
    object-fit: cover;
}

.caja_acc2{
    /*outline: indigo solid 2px;*/
    width: 20%;
    padding: 0;
    margin: 0px -5px 0px 60px;
}

.acc2{
    /*outline: cadetblue solid 1px;*/
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
}

#accesorios div button{
    /*outline: royalblue solid 1px;*/
    margin: 20px 10px 0px 1.5px;
    padding: 15px 25px;
    background: var(--color_uno);
    border: none;
    color:white;
    font-weight:600;
    cursor: pointer;

}

#accesorios div button:hover{
    background: var(--color_tres);
    color: white;
    transition: 0.5s;
    border-radius: 2px;
}

/*---------FIN ACCESORIOS--------*/ 

/*---------INCIO ZAPATOS--------*/ 
#zapatos{
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#zapatos h1{
    color:var(--color_uno);
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    padding-top: 30px;
    margin-top: 30px;
}

#zapatos p{
    color:#474747;
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 20px 0px;
    font-weight: 700;
}

.caja_zap1{
    /*outline: indigo solid 2px;*/
    width: 20%;
    padding: 0;
    margin: 0px -5px 0px 60px;
}

#zapatos figure{
    /*outline: solid green 2px;*/
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.192);
    font-size: 0;
}

#zapatos figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nombre_1{
    /*outline: solid red 2px;*/
    margin-top: 40px;
}

.zap1{
    /*outline: cadetblue solid 1px;*/
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
}

#zapatos div h3{
    font-size: 1.5em;
    color: var(--color_uno);
    padding: 0;
    margin: 0;
    
}

#zapatos div p{
    text-align: left;
    font-size: 1.3em;
    color: var(--color_siete);
    padding: 10px 0px;
    font-weight: 700;
}

#zapatos div img{
    margin: 0;
    padding: 0;
    /*outline: royalblue solid 1px;*/
    object-fit: cover;
}


#zapatos div button{
    /*outline: royalblue solid 1px;*/
    margin: 20px 10px 0px 1.5px;
    padding: 15px 25px;
    background: var(--color_uno);
    border: none;
    color:white;
    font-weight:600;
    cursor: pointer;

}

#zapatos div button:hover{
    background: var(--color_tres);
    color: white;
    transition: 0.5s;
    border-radius: 2px;
}
/*---------FIN ZAPATOS--------*/ 

/*---------INICIO MARCAS--------*/

#marcas{
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#marcas  h1{
    color:var(--color_uno);
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    padding-top: 30px;
    margin-top: 30px;
}

#marcas p{
    color:#474747;
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 20px 0px;
    font-weight: 700;
}

.caja_mar1{
    /*outline: indigo solid 2px;*/
    width: 20%;
    padding: 0;
    margin: 0px -5px 0px 60px;
}

#marcas figure{
    /*outline: solid green 2px;*/
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.192);
    font-size: 0;
}

#marcas figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nombre_1{
    /*outline: solid red 2px;*/
    margin-top: 40px;
}

.mar1{
    /*outline: cadetblue solid 1px;*/
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
}

#marcas div h3{
    font-size: 1.5em;
    color: var(--color_uno);
    padding: 0;
    margin: 0;
    
}

#marcas div p{
    text-align: left;
    font-size: 1.3em;
    color: var(--color_siete);
    padding: 5px 0px 10px 0px;
    font-weight: 700;
}

#marcas .carter{
    color: var(--color_dos);
    font-weight: 500;
    margin: 5px 0px;
    padding: 0;
}

#marcas div img{
    margin: 0;
    padding: 0;
    /*outline: royalblue solid 1px;*/
    object-fit: cover;
}

.caja_mar2{
    /*outline: indigo solid 2px;*/
    width: 20%;
    padding: 0;
    margin: 0px -5px 0px 60px;
}

.mar2{
    /*outline: cadetblue solid 1px;*/
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
}

#marcas div button{
    /*outline: royalblue solid 1px;*/
    margin: 20px 10px 0px 1.5px;
    padding: 15px 25px;
    background: var(--color_uno);
    border: none;
    color:white;
    font-weight:600;
    cursor: pointer;

}

#marcas div button:hover{
    background: var(--color_tres);
    color: white;
    transition: 0.5s;
    border-radius: 2px;
}

.secciones .ver{
    margin: 50px 0px 70px 0px;
    padding: 1rem;
    text-align: center;
}

.secciones .ver button{
    padding: 15px 25px;
    background: white;
    outline: var(--color_uno) solid 1px;
    border: none;
    color:var(--color_uno);
    font-weight:600;
    cursor: pointer;
}

.secciones .ver button:hover{
    background: var(--color_uno);
    color: white;
    transition: 0.5s;
    border-radius: 2px;
}

/*---------FIN MARCAS--------*/  


/*---------FIN DESTACADOS--------*/


/*---------FIN PRODUCTOS--------*/ 


/*---------INICIO TESTIMONIOS--------*/ 

#testimonios{
    width: 100%;
    background-image: url(../img/fondo4_tes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
#testimonios h1{
    color:white;
    text-align: center;
    font-size: 2.5em;
    padding-top: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.copy_testi{
    /*outline: solid white 1px;*/
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    position: relative;

}

.texto_testi{
    background-color: var(--color_uno);
    color: white;
    text-align: center;
    padding: 70px 60px 70px 60px;
    justify-content: center;
}

.texto_testi p{
    margin: 20px 0px;
}



.slider_tes{
    /*outline: orangered 2px solid;*/
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides_tes{
    /*outline: rgb(0, 255, 157) 6px solid;*/
    width: 500%;
    height: 100vh;
    display: flex;
    
}

.slides_tes input{
    display: none;
}

.slide_t{
    /*outline: rgb(255, 0, 221) 1px solid;*/
    width: 20%;
    transition: 2s;

}


/*css nvg manual*/

.nvg_manual_tes{
    /*outline: rgb(38, 0, 255) 3px solid;*/
    width: 100%;
    margin-top: -70px;
    display: flex;
    justify-content: center;
    
}

.manual_btn_tes{
    border: 1px solid white;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
}

.manual_btn_tes:not(:last-child){
    margin-right: 40px;
}

.manual_btn_tes:hover{
    background: white;
}

#radio1_tes:checked ~ .uno{
    margin-left: 0;
}

#radio2_tes:checked ~ .uno{
    margin-left: -20%;
}

#radio3_tes:checked ~ .uno{
    margin-left: -40%;
}



/*css nvg auto*/


/*---------FIN TESTIMONIOS--------*/ 


/*---------INICIO CONTADOR--------*/ 

#contador_s{
    width: 100%;
    background-color: var(--color_uno);

}

.contador{
    width: 32%;
    text-align: center;
    display: inline-block;
    margin: 80px 0px 80px 0px;
}

.contador_cantidad{
    font-size: 30px;
    margin: 20px 0px 15px 0px;
    font-weight: 700;
    color: var(--color_cuatro);
}
@keyframes aparecer{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.ocultar{
    opacity: 0;
}

.animar{
    animation: aparecer 1.3s;
}

.contador i{
    color: white;
}

.contador p{
    color: white;
    font-size: 20px;
    font-weight: 400;
}

/*---------FIN CONTADOR--------*/ 


/*---------INICIO NEWSLETTER--------*/ 

#contacto{
    width: 100%;
    background-image: url(../img/fondo_new2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#contacto h1{
    
    color:white;
    text-align: center;
    font-size: 2.5em;
    padding-top: 110px;
}

.texto_contac{
    color: white;
    text-align: center;
    padding: 70px 60px 50px 60px;
    
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    
}

.texto_contac p{
    margin: 0px 0px 50px 0px;
}

#contacto .email{
    width: 100%;
    justify-content: center;
}



#contacto input[type=email]{
    width: 100%;
    padding: 20px 25px;
    font-size: 1.2em;
    outline: none;
    border:transparent solid 2px;
    color: white;
    transition: 0.4s;
    background-color:var(--color_dos);
}

::placeholder{
    color: white;
}

#contacto input[type=email]:focus{
    
    border:white solid 2px;
    outline: visible;
    border-radius: 4px;
}

.acepto{
    display: flex;
    margin: 40px 0px;
}

.caja{
    margin: -15px 0px 0px 0px;
    width: 50px;
    height: 50px;
}

.check1{
    margin: 0;
    font-size: 13px;
    text-align: left;
    margin: 0px 0px 0px 15px;
}

.btn_cont button{
    margin-top: 10px;
    padding: 15px 25px;
    background: var(--color_dos);
    border: none;
    color:var(--color_uno);
    font-weight:600;
    cursor: pointer;
    color: white;
    font-weight: 500;
}

.btn_cont button:hover{
    background: var(--color_uno);
    color: white;
    transition: 0.5s;
    border-radius: 2px;
}
/*---------FIN NEWSLETTER--------*/ 



/*---------INICIO FOOTER--------*/ 
footer{
    /*outline: brown 2px solid;*/
    width: 100%;
    text-align: center;
    background:var(--color_uno);
    display: inline-flex;
    justify-content: space-around;
    color: white;
    
}

footer div{
    margin: 60px 120px;
}



a{
    color: white;
}

a:hover{
    color: var(--color_cuatro);

}

.super{
    
    font-size: 0.8em;

}

.politica{
    font-size: 0.8em;
    text-align: center;
}

.btn_redes a i{
    font-size: 1.5em;
    padding: 0px 10px 0px 10px;
    height:100%;
    color:white;
    transition: 0.4s;
    font-weight: 100;
}

.btn_redes a i:hover{
    color: var(--color_cuatro);
}


/*---------FIN FOOTER--------*/ 


